<h1>
    Welcome
</h1>
<p> Welcome to StoryKeeper </p>
{{#if user}}
{{else}}
<a href="/auth/google" class="btn red darken-1"><i class="fab fa-google-plus-square left"></i>Login With Google</a>
{{/if}}